<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Leaf Doctor{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
      <div class="frame">
        <div class="frame-1" id="logo-frame">
          <span class="leaf-doctor">LEAF DOCTOR</span>
        </div>
        <div class="converted-2"></div>
      </div>
      {% block content %}
      {% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
